{% set pageTitle = "Front End Styleguide" %}
{% set pageDescription = "Living Styleguide for componentized front end development with Sass, JavaScript and Nunjucks." %}

{% extends "../layouts/prototypes.njk" %}

{% block body %}
  {% set title = "Front End Styleguide" %}
  {% include "../components/title/index.njk" %}
{% endblock %}
