{% import "../components/title/title.njk" as title %}

{% set pageTitle = "Front End Styleguide" %}
{% set pageDescription = "Living Styleguide for componentized front end development with Sass, JavaScript and Nunjucks." %}

{% extends "../layouts/prototypes.njk" %}

{% block body %}
  <main>
    {{ title.index("Front End Styleguide", "Living Styleguide for componentized front end development with Sass, JavaScript and Nunjucks") }}

    <div class="grid grid--index">

      <section id="installation-usage">

        <h2>Installation</h2>
        <pre><code data-lang="bash">
          {%- filter escape -%}
            {% include "../code/index/installation.sh" %}
          {%- endfilter -%}
        </code></pre>

        <h2>Usage</h2>
        <pre><code data-lang="bash">
          {%- filter escape -%}
            {% include "../code/index/usage.sh" %}
          {%- endfilter -%}
        </code></pre>

      </section>

      <section id="github">
        <h2>GitHub</h2>
        {% include "../components/github/github.njk" %}
      </section>

    </div>
  </main>
{% endblock %}
