{% set title = "Nunjucks" %}

{% extends sgSection %}

{% block body %}
  <pre><code data-lang="nunjucks">
    {%- filter escape %}{% include "./example-block.njk" %}{% endfilter -%}
  </code></pre>
{% endblock %}
