{% set title = "Bash" %}

{% extends sgSection %}

{% block body %}
  <pre><code data-lang="bash">
    {%- filter escape %}{% include "./example-block.sh" %}{% endfilter -%}
  </code></pre>
{% endblock %}
