{% set title = "JavaScript" %}

{% extends sgSection %}

{% block body %}
  <pre><code data-lang="javascript">
    {%- filter escape %}{% include "./example-block.js" %}{% endfilter -%}
  </code></pre>
{% endblock %}
