{% set title = "HTML" %}

{% extends sgSection %}

{% block body %}
  <pre><code data-lang="html">
    {%- filter escape %}{% include "./example-block.html" %}{% endfilter -%}
  </code></pre>
{% endblock %}
