{% set title = "CSS/SCSS" %}

{% extends sgSection %}

{% block body %}
  <pre><code data-lang="scss">
    {%- filter escape %}{% include "./example-block.scss" %}{% endfilter -%}
  </code></pre>
{% endblock %}
