{% set title = "JavaScript" %}

{% extends sgSection %}

{% block body %}
  <pre><code lang="javascript">
    {%- filter escape %}{% include "./block.js" %}{% endfilter -%}
  </code></pre>
{% endblock %}
