/* CODE
 * ========================================================================== */

@import "../../../node_modules/prismjs/themes/prism";

pre {
  margin: 0;
  padding: $component-padding;

  overflow: auto;

  background-color: $color-code;
  border-left: 0.375em solid $color-brand;

  code {
    padding: 0;
  }
}

code {
  @include font-family-mono;

  padding: 0 0.25em;

  font-size: 0.875em;

  // Reset styling
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  hyphens: none;
  tab-size: 2;

  background-color: $color-code;
}
