<div class="title title--index">
  <img class="title__image title__image--index" src="{{ meta.path.toRoot }}img/mark.svg" alt="" width="160" height="160">
  <h1 class="title__text title__text--index">{{ title }}</h1>
</div>
