{% import "./title.njk" as titleComponent %}

{% set title = "Index" %}

{% extends sgSection %}

{% block body %}
  {{ titleComponent.index("Front End Styleguide", "Living Styleguide for componentized front end development with Sass, JavaScript and Nunjucks") }}
{% endblock %}
