{% macro default(title) %}
  <div class="title">
    <img class="title__image" src="{{ meta.path.toRoot }}img/mark.svg" alt="" width="56" height="56">
    <h1 class="title__title">{{ title }}</h1>
  </div>
{% endmacro %}

{% macro index(title, subtitle) %}
  <div class="title title--index">
    <img class="title__image" src="{{ meta.path.toRoot }}img/mark.svg" alt="" width="160" height="160">
    <h1 class="title__title">{{ title }}</h1>
    {% if subtitle %}
      <p class="title__subtitle">{{ subtitle }}</p>
    {% endif %}
  </div>
{% endmacro %}
