/* SCAFFOLDING
 * ========================================================================== */

body {
  box-sizing: border-box;

  font-family: $font-family-sans;
  line-height: $line-height-default;
  color: $color-text;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
