/* SCAFFOLDING
 * ========================================================================== */

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font-family-sans;

  box-sizing: border-box;

  line-height: $line-height-default;
  color: $color-text;
}
