<footer class="footer">
  <div class="footer__link-list">
    <a href="https://github.com/front-end-styleguide" class="footer__link">Front End Styleguide on GitHub</a>
  </div>

  <div class="footer__link-list">
    <a href="https://twitter.com/mvsde" class="footer__link">Twitter</a>
    <a href="https://fynn-becker.de/impressum.html" class="footer__link">Impressum</a>
  </div>
</footer>
