<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {%- if pageDescription %}
    <meta name="description" content="{{ pageDescription }}">
  {% endif %}
  {%- if pageTitle %}
    <title>{{ pageTitle }}</title>
  {% endif %}

    {% include "./resource-hints.njk" %}
    {% include "./webfonts.njk" %}
    {% include "./icons.njk" %}
    {% include "./social-media.njk" %}

    <link rel="stylesheet" href="{{ meta.path.toRoot }}css/styles.css">
  {%- if meta.env === "development" %}
    <link rel="stylesheet" href="{{ meta.path.toRoot }}css/sg.css">
  {%- endif %}

    {%- block head %}{% endblock %}
  </head>
  <body>
    {%- if meta.env === "development" %}
      {% include sgNav %}
    {%- endif %}

    <div class="container">
      {%- block body %}{% endblock %}
      {% include "../components/footer/footer.njk" %}
    </div>

  {%- if meta.env === "development" %}
    <script src="{{ meta.path.toRoot }}js/sg.js"></script>
  {%- endif %}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
    <script src="{{ meta.path.toRoot }}js/scripts.js"></script>

    {%- block foot %}{% endblock %}
  </body>
</html>
