<!-- Source: https://www.zachleat.com/web/comprehensive-webfonts/#fout-class -->
<script>
  (function () {
    if (sessionStorage.fontsLoaded) {
      document.documentElement.classList.add('fonts-loaded')
    }
  })()
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.0.13/fontfaceobserver.js"></script>
<script>
(function () {
  var firaMono400 = new FontFaceObserver('Fira Mono')
  var mavenPro400 = new FontFaceObserver('Maven Pro')
  var mavenPro500 = new FontFaceObserver('Maven Pro', { weight: 500 })
  var mavenPro700 = new FontFaceObserver('Maven Pro', { weight: 700 })

  Promise.all([
    firaMono400.load(),
    mavenPro400.load(),
    mavenPro500.load(),
    mavenPro700.load(),
  ]).then(function () {
    document.documentElement.classList.add('fonts-loaded')
    sessionStorage.fontsLoaded = true
  })
})()
</script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Farsan|Fira+Mono|Maven+Pro:400,500,700">
